$gray-text: #969696;
$green: #32cd32;
$red:red;
$light-gray-1: #a7a7a7;
$light-gray-2: #7e7e7e;
$dark-gray-1: #8d8d8d;
$dark-gray-2: #5a5a5a;
$dark-green: #004700;
$white: #ffffff;
$gray: #787878;
$grayish: rgb(134, 134, 134);
$medium-gray: #e0e8df;
$dark-gray: #706f72;
$light-gray: #f5f5f6;
$blue-gray: #d8dee4;
$light-black: #474747;
$light-medium-gray: #9c9c9c;
$blackish :#2f2f2f;
$yellow: #fac917;
$coal: #444444;

//transition
$transition: all 0.25s ease-out;
$box-shadow: 0 0 10px -2px #787878;
$border: 1px solid $gray;
$secondary-shadow: 0px 6px 6.08px 1.92px rgba(68, 65, 71, 0.05);

//new
$shadow: 0px 6px 6.08px 1.92px rgba(68, 65, 71, 0.05);
$off-white: #d7d7d7;

